/*
TO DO list:
-add buttons
-make the header img responsive
-make the clickable names in a different color
*/



body {
    background-color: #565656;
    background-image: url(../images/misty_mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Helvetica;
    color: gainsboro;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

#main-character {
    color: rgb(212, 39, 255);
}

.cat-info, .goodbye {
    color:rgb(62, 177, 62);
}

.cat-info {
    display: block;
    max-height: 200px;
    max-width: 200px;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    background-color: rgba(128, 128, 128, 0.384);
}


header img {
    display: block;
    width: 100%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 100%;
}

img:last-of-type {
    display: block;
    max-height: 400px;
    max-width: 400px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}


img {
    max-width: 100%;
    min-height: fit-content;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 30px;
    box-shadow: 15px 15px rgba(128, 128, 128, 0.384);
}


/* 
button {

} */